{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <title>Fire Predictor App</title>
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
       </head>
       <body>
               
    
           <section>
               <div class="content">
                   <div class="link">
                   <h2> Fire Predictor App</h2>
                   </div>
                   <p>
                       This app predicts the probability of forest fire in an area
                       by taking into account parameters like temperature, humidity and others.
                   </p>

               </div>
            </section>
            <div class="heading">
                <h2> Latest predictions</h2>        
            </div>
            <div class="wrapper">
                {% block content %}
               {% endblock %}
            </div>
       </body>

</html>