
<!DOCTYPE html>
<html>
    <head>

        <title>Fire Predictor App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    
        
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        *{ font-family: 'Roboto', sans-serif; }
    </style>
       </head>
       <body>
        <nav class=" yellow darken-1">
            <div class="nav-wrapper container">
              <a href="#!" class="brand-logo">R.A.F.P.</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="base2.html">Home</a></li>
                <li><a href="detail.html">About</a></li>
                <li><a href="collapsible.html">History</a></li>
                <li><a href="mobile.html">App</a></li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
                  
          <div class="slider">
            <a class="carousel-item" href="#one!"><img src="http://getwallpapers.com/wallpaper/full/4/4/e/212953.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://getwallpapers.com/wallpaper/full/e/e/2/212977.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="http://getwallpapers.com/wallpaper/full/9/c/c/213005.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="https://wallpapermania.eu/images/lthumbs/2020-01/10223_Fireman-works-to-stop-the-big-fire-in-Australia-Forest-burn.jpg"></a>
          </div>
           
          <script>

              $('.carousel.carousel-slider').carousel({
          });
              </script>



               
    
          
       </body>

</html>